body{
font-family: 'lucida grande' ,tahoma,verdana, arian, sans-serif;
background-image: url(http://i.imgur.com/Q2q3nZj.jpg);
}
#container{
width:900px;
margin: 0 auto;
padding:1px;
background-color: #000000;
}


#footer{
clear:both;
width:auto;
height:20px;
padding:20px;
background-image:url(../Images/background2.png);
color:#000;
text-align:center;
}
<style type="text/css">
.pic{
	width:20px;
	height:20px;
}
.picbig{
	position:absolute;
	width:0px;
	-webkit-transition:width 0.3s linear 0s;
	transition:width 0.3s linear 0s;
	z-index:10;
}
.pic:hover + .picbig{
	width:500px;
	height:500px;
}